.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
  background-color: rgb(42, 42, 42);
}
.footerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  padding: 15px 5px
}
.footerTitle, .footerList, .footerColumn p {
  color: white;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  margin: 0;
}
.footerTitle {
  font-size: calc(100vw * (24 / 1366));
  font-weight: 900;
  text-decoration: underline;
  margin-bottom: 15px;
}
.footerList li {
  font-size: calc(100vw * (16 / 1366));
}
.footerList li a {
  text-decoration: none;
  color: white;
}
.footerList li a:hover {
  color: green;
  text-decoration: underline;
}
.bankLogoFooter {
  width: 55px;
  height: 55px;
}
.footerColumn p {
  font-size: calc(100vw * (14 / 1366));
}